# Workshop 1: Data Ingestion

## **Question 1: dlt Version**

In [3]:
!pip install dlt[bigquery]

Requirement already satisfied: dlt[bigquery] in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (6.0.2)
Requirement already satisfied: click>=7.1 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (8.1.8)
Requirement already satisfied: db-dtypes>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.4.1)
Requirement already satisfied: fsspec>=2022.4.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (2024.10.0)
Requirement already satisfied: gcsfs>=2022.4.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (2024.10.0)
Requirement already satisfied: gitpython>=3.1.29 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.1.44)
Requirement already satisfied: giturlparse>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (0.12.0)
Requirement already satisfied: google-cloud-bigquery>=2.26.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.25.0)
Requirement already satisfied: grpcio>=1.50.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.70.0)
Requirement already satisfied: hexbytes>=0.2.2 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.3.0)
Requirement already satisfied: humanize>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (4.11.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.7.0)
Requirement already satisfied: makefun>=1.15.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.15.6)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.10.15)
Requirement already satisfied: packaging>=21.1 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (24.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.2.3)
Requirement already satisfied: pendulum>=2.1.2 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.0.0)
Requirement already satisfied: pluggy>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.5.0)
Requirement already satisfied: pyarrow<18,>=12.0.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (17.0.0)
Requirement already satisfied: pytz>=2022.6 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (2025.1)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (2.32.3)
Requirement already satisfied: requirements-parser>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (0.9.0)
Requirement already satisfied: rich-argparse<2.0.0,>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (1.7.0)
Requirement already satisfied: semver>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (75.1.0)
Requirement already satisfied: simplejson>=3.17.5 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (3.20.1)
Requirement already satisfied: tenacity>=8.0.2 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (9.0.0)
Requirement already satisfied: tomlkit>=0.11.3 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (0.13.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (4.12.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.11/dist-packages (from dlt[bigquery]) (2025.1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.11/dist-packages (from db-dtypes>=1.2.0->dlt[bigquery]) (2.2.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.11/dist-packages (from db-dtypes>=1.2.0->dlt[bigquery]) (1.26.4)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (3.11.12)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.11/dist-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.11/dist-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (2.27.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.11/dist-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (1.2.1)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.11/dist-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (2.19.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython>=3.1.29->dlt[bigquery]) (4.0.12)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.19.2)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.7.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.8.2)
Requirement already satisfied: ply in /usr/local/lib/python3.11/dist-packages (from jsonpath-ng>=1.5.3->dlt[bigquery]) (3.11)
Requirement already satisfied: time-machine>=2.6.0 in /usr/local/lib/python3.11/dist-packages (from pendulum>=2.1.2->dlt[bigquery]) (2.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->dlt[bigquery]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->dlt[bigquery]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->dlt[bigquery]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->dlt[bigquery]) (2025.1.31)
Requirement already satisfied: types-setuptools>=69.1.0 in /usr/local/lib/python3.11/dist-packages (from requirements-parser>=0.5.0->dlt[bigquery]) (75.8.0.20250210)
Requirement already satisfied: rich>=11.0.0 in /usr/local/lib/python3.11/dist-packages (from rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (13.9.4)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (2.4.6)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.18.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[bigquery]) (5.0.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (4.25.6)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.26.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.62.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (5.5.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.11/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (2.18.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from google-auth-oauthlib->gcsfs>=2022.4.0->dlt[bigquery]) (2.0.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (0.1.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs>=2022.4.0->dlt[bigquery]) (3.2.2)

In [4]:
!dlt --version

dlt 1.6.1

**Answer**:  
- Provide the **version** you see in the output.

- dlt 1.6.1

## **Question 2: Define & Run the Pipeline (NYC Taxi API)**

Use dlt to extract all pages of data from the API.

Steps:

1️⃣ Use the `@dlt.resource` decorator to define the API source.

2️⃣ Implement automatic pagination using dlt's built-in REST client.

3️⃣ Load the extracted data into DuckDB for querying.

Test BigQuery Connection Using Colab Secrets

In [ ]:
import os
import json
from google.cloud import bigquery
from google.colab import userdata


# Retrieve the secret from Colab
bq_key_json = userdata.get('BigQuery')


# Save it as a temporary file
key_path = "/content/bq-key.json"
with open(key_path, "w") as key_file:
    key_file.write(bq_key_json)

# Load the JSON key and extract required fields
with open(key_path) as f:
    credentials = json.load(f)

# Set the environment variables that DLT expects
os.environ["TAXI_DATA__DESTINATION__BIGQUERY__CREDENTIALS__PROJECT_ID"] = credentials["project_id"]
os.environ["TAXI_DATA__DESTINATION__BIGQUERY__CREDENTIALS__PRIVATE_KEY"] = credentials["private_key"]
os.environ["TAXI_DATA__DESTINATION__BIGQUERY__CREDENTIALS__CLIENT_EMAIL"] = credentials["client_email"]

# Set environment variable for BigQuery authentication
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = key_path

# Initialize BigQuery Client
client = bigquery.Client()
print("Authenticated with project:", client.project)

In [25]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator

@dlt.resource(name="rides", write_disposition="replace")
def ny_taxi():
    client = RESTClient(
        base_url="https://us-central1-dlthub-analytics.cloudfunctions.net",
        paginator=PageNumberPaginator(
            base_page=1,
            total_path=None
        )
    )

    for page in client.paginate("data_engineering_zoomcamp_api"):
        yield page

In [26]:
pipeline = dlt.pipeline(
    pipeline_name='taxi_data',
    destination='bigquery',
    dataset_name='dlt_taxi_rides',
)

Load the data into BigQuery to test:

In [ ]:
load_info = pipeline.run(ny_taxi())
print(load_info)

**Answer:**
* How many tables were created?

![image.png]()

4

## **Question 3: Explore the loaded data**

Inspect the table `ride`:

In [31]:
df = pipeline.dataset(dataset_type="default").rides.df()
df

,end_lat,end_lon,fare_amt,passenger_count,payment_type,start_lat,start_lon,tip_amt,tolls_amt,total_amt,trip_distance,trip_dropoff_date_time,trip_pickup_date_time,surcharge,vendor_name,_dlt_load_id,_dlt_id,store_and_forward
0,40.758275,-73.937818,2.5,208,CASH,40.758278,-73.937825,0.00,0.00,2.50,0.00,2009-06-17 13:07:00+00:00,2009-06-17 13:07:00+00:00,0.0,VTS,1739617520.6876059,fLxiUQLVSx7q+Q,NaN
1,40.745425,-73.972203,2.5,1,CASH,40.745427,-73.972203,0.00,0.00,2.50,0.00,2009-06-11 06:50:00+00:00,2009-06-11 06:50:00+00:00,0.0,VTS,1739617520.6876059,1DM23zN57UfX4g,NaN
2,40.753018,-73.971008,2.5,1,CASH,40.753052,-73.970980,0.00,0.00,2.50,0.00,2009-06-14 17:57:00+00:00,2009-06-14 17:56:00+00:00,0.0,VTS,1739617520.6876059,w8yfpxah1d7oRA,NaN
3,40.758170,-73.937450,2.5,1,CASH,40.758175,-73.937452,0.00,0.00,2.50,0.00,2009-06-11 13:55:00+00:00,2009-06-11 13:55:00+00:00,0.0,VTS,1739617520.6876059,c6rEWiTCgzOqOw,NaN
4,40.802125,-73.950702,2.5,5,CASH,40.802125,-73.950702,0.00,0.00,2.50,0.00,2009-06-22 13:43:00+00:00,2009-06-22 13:43:00+00:00,0.0,VTS,1739617520.6876059,gNZVp8JtKxkjKQ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,40.870670,-73.883128,55.3,1,Credit,40.774185,-73.874622,16.89,4.15,77.34,13.79,2009-06-26 17:50:00+00:00,2009-06-26 16:03:00+00:00,1.0,VTS,1739617520.6876059,PT3J7E8Cltix7A,NaN
9996,40.695272,-74.177487,78.0,1,Credit,40.695270,-74.177483,19.50,0.00,97.50,0.00,2009-06-19 05:28:00+00:00,2009-06-19 05:27:00+00:00,0.0,VTS,1739617520.6876059,/lR0PO5mPq0HQw,NaN
9997,41.069102,-73.548183,170.0,1,Credit,41.069102,-73.548183,20.00,0.00,190.00,0.00,2009-06-02 14:16:00+00:00,2009-06-02 14:15:00+00:00,0.0,VTS,1739617520.6876059,qG8UeDOedQMK3A,NaN
9998,40.912662,-73.783763,90.0,1,Credit,40.912662,-73.783763,22.50,0.00,112.50,0.00,2009-06-29 02:32:00+00:00,2009-06-29 02:31:00+00:00,0.0,VTS,1739617520.6876059,KlYRRlTrQIUG7Q,NaN
9999,41.156432,-73.422490,194.0,1,Credit,41.156413,-73.422487,38.80,0.00,232.80,0.02,2009-06-08 19:53:00+00:00,2009-06-08 19:52:00+00:00,0.0,VTS,1739617520.6876059,Xw+gNqFcVu3r/A,NaN

**Answer:**
* What is the total number of records extracted?

*   10000

## **Question 4: Trip Duration Analysis**

Run the SQL query below to:

* Calculate the average trip duration in minutes.

In [33]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
              AVG(TIMESTAMP_DIFF(trip_dropoff_date_time, trip_pickup_date_time, MINUTE))
            FROM rides;
            """
        )
    # Prints column values of the first row
    print(res)

[Row((12.298199999999992,), {'f0_': 0})]

**Answer:**
* What is the average trip duration?

- 12.3